<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="../comp/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="../comp/angular-animate-css/build/nga.all.min.css">
    <link rel="stylesheet" href="../comp/material-design-icons/iconfont/material-icons.css">
    <link rel="stylesheet" href="style.css">
    <title>YouTube Music Player</title>
</head>
<body ng-app="YouTubePlayer" ng-cloak style="height: 100vh" flex-auto>
<main ng-controller="MainController" layout="column" class="nga-fade nga-default nga-stagger-slow" flex-auto
      style="height: 100%">
    <div style="height: 0px; width: 0px; display: none;">
        <audio id="HTMLVideoPlayer">
            <source src="{{ CurrentVideoSrc }}">
        </audio>
    </div>
    <md-sidenav md-component-id="SideNav">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <span>Menu</span>
            </div>
        </md-toolbar>
        <md-list>
            <md-list-item ng-click="toggleSideNav()" ui-sref="home">
                <span>Home</span>
            </md-list-item>
            <md-list-item ng-click="toggleSideNav()" ui-sref="player">
                <span>Player</span>
            </md-list-item>
            <md-list-item ng-click="toggleSideNav()" ui-sref="library">
                <span>Library</span>
            </md-list-item>
            <md-list-item ng-click="toggleSideNav()" ui-sref="search-youtube">
                <span>Search on YT</span>
            </md-list-item>
        </md-list>
    </md-sidenav>
    <md-toolbar flex="nogrow" md-whiteframe="10" class="">
        <div class="md-toolbar-tools">
            <md-button class="md-icon-button" ng-click="toggleSideNav()">
                <md-icon>menu</md-icon>
            </md-button>
            <span ng-bind="($title || 'Home')"></span>
            <span flex></span>
            <md-button ng-click="PlayTest()">Play Test</md-button>
            <md-autocomplete md-input-id="SearchField" placeholder="Search" md-search-text-change="DoQuery(textquery)"
                             ng-if="search" class="nga-slide-right nga-fast nga-stagger-fast" flex="30"
                             md-items="QueryResult in QueryResults" md-search-text="textquery"
                             md-item-text="QueryResult.snippet.title" md-delay="1000">
                <md-item-template>
                    <span md-highlight-text="searchText">{{ QueryResult.snippet.title }}</span>
                </md-item-template>
                <md-not-found>
                    No matches
                </md-not-found>
            </md-autocomplete>
            <span>{{ SearchQuery }}</span>
        </div>
    </md-toolbar>
    <md-content style="height: 100%">
        <div ui-view class="nga-fade nga-default nga-stagger-slow" style="height: 100%"></div>
    </md-content>
</main>
<script src="../comp/angular/angular.min.js"></script>
<script src="../comp/angular-aria/angular-aria.min.js"></script>
<script src="../comp/angular-animate/angular-animate.min.js"></script>
<script src="../comp/angular-material/angular-material.min.js"></script>
<script src="../comp/angular-ui-router/release/angular-ui-router.min.js"></script>
<script src="../comp/angular-ui-router-title/angular-ui-router-title.js"></script>
<script type="text/javascript" src="index.js"></script>
<script src="directive/Player.js"></script>
<script src="directive/LoadVideoDescription.js"></script>
</body>
</html>