<!DOCTYPE html>
<div layout="row" layout-align="center center" flex="100" style="height: 100%">
    <div layout="column" flex="100" layout-align="center center" style="height: 100%">
        <div layout="column" flex>
            <img src="{{ Data.CurrentVideoInfo.snippet.thumbnails.maxres.url }}" style="width: auto;
    height: 100%;user-select: none;-moz-user-select: none;-khtml-user-select: none;-webkit-user-select: none;-o-user-select: none;">

        </div>
        <md-toolbar flex="initial" style="max-height: 20%;user-select: none;-moz-user-select: none;-khtml-user-select: none;-webkit-user-select: none;-o-user-select: none;">
            <md-progress-linear class="md-accent md-hue-3 md-whiteframe-8dp" md-mode="buffer" value="{{ Data.percent }}"
                                md-buffer-value="{{ Data.BufferPercent }}" id="player_progress">
            </md-progress-linear>
            <div layout="row" layout-padding layout-align="space-between center">
                <div class="md-subhead" ng-if="Data.CurrentVideoInfo">{{ Data.CurrentVideoInfo.snippet.title }}</div>
                <div class="md-subhead" ng-if="!Data.CurrentVideoInfo">No track</div>
                <div class="md-subhead" ng-if="Data.PrettyDuration">{{ Data.PrettyDuration }}</div>
            </div>
            <div layout="row" layout-align="space-between">
                <div layout="row">
                    <md-button class="md-icon-button" ng-disabled="!Data.CurrentPLPosition && !Data.CurrentPLPosition + 1 > 1 || loadingPL" ng-click="back()">
                        <md-icon>skip_previous</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-click="triggerPlayer()" ng-disabled="loadingPL">
                        <md-icon ng-if="!Data.playing">play_arrow</md-icon>
                        <md-icon ng-if="Data.playing">pause</md-icon>
                    </md-button>
                    <md-button class="md-icon-button" ng-disabled="!Data.CurrentPLPosition && !Data.CurrentPLPosition + 1 < Data.CurrentPL.item.length || loadingPL" ng-click="skip()">
                        <md-icon>skip_next</md-icon>
                    </md-button>
                </div>
                <div layout="row">
                    <md-slider ng-model="volume" min="0" max="1" step="0.01"></md-slider>
                    <md-button ng-click="GoToInPl()" ng-if="Data.CurrentPLPosition != null">Go to</md-button>
                </div>
            </div>
        </md-toolbar>
    </div>
</div>